
.cat1,.cat2,.cat3,.cat4{
    font-family : 'Press Start 2P', cursive;
    
}
.row{
    margin: 4vh;
}
.cat1{
    border: 1px solid red;
    background-color: aliceblue;
    text-align: center;
}
.cat2{
    border:1px solid blue;
    background-color: aquamarine;
    text-align: center;
}
.cat3{
    border: 1px solid grey;
    background-color: beige;
    text-align: center;
    
}
.cat4{
    border:1px solid pink;
    background-color:cornsilk;
    text-align: center;
}
.front{
    transform: perspective(400px) rotateY(0deg);
    transition: transform 2s linear;
    backface-visibility: hidden;
}
.back{
    transform: perspective(200px) rotateY(180deg);
    transition: transform 2s linear;
    backface-visibility: hidden;
}
.cat1:hover>.front,.cat2:hover>.front,.cat3:hover>.front,.cat4:hover>.front{
    transform: rotateY(-180deg);
}
.cat1:hover>.back,.cat2:hover>.back,.cat3:hover>.back,.cat4:hover>.back{
    transform: rotateY(0deg);
}
