body{
    background-color: #FFF8dc;
}
h2{
    font-family : 'Press Start 2P', cursive;
    text-align: center;
}
ol{
    padding: 5vh 3vw;
    background-color: #ffde75;

    border:1px solid green;
}
li{
    padding: 1vh;
    margin: 1vh;
    
}