.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.tag{
    color: rgb(70, 173, 212);
    padding-top: 10px;
}
.tag{
    font-size : 50px;
}

#main-div{
    position:fixed;
    top: 60%;
    left: 50%;
    width:35em;
    height:5.5sem;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    background-color: rgb(70, 173, 212);
    text-align: center;
    font-family : 'Press Start 2P', cursive;
    color: black;
}

#mySidenav{
    background-color: rgb(70, 173, 212);
    font-family: 'Press Start 2P', cursive;
}

#mySidenav > a{
    font-size: 20px;
    color: black;
}